.wrapper {
    background-color: #0097e6;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 7px -3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 7px -3px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 7px -3px rgba(0,0,0,1);
}

.title {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}